<div class="container positionedbottom">
    <p class="text-center companyinfo">© 2021 Company, Inc</p>
</div>
</div>
<script src="<%= baseurl %>modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="<%= baseurl %>modules/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="<%= baseurl %>js/main.js" async defer></script>
</body>
</html>