<style>
  body {
    margin: 0px;
  }
  .center{
      font-size: 240px;
      font-weight: 800;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
  }
  .center span{
      display: block;
      font-size: 40px;
      text-align: center;
  }
  img{
      color: blue;
  }
</style>
<img src="<%= baseurl %>images/matrix.gif" style="height: 100%; width: 100%" />
<div class="center">404 <span>Page not found!</span></div>
