<div class="container dashboard-main">
    <button class="btn btn-primary createtask"><i class="lni lni-plus"></i> Task</button>
    <button class="btn btn-primary createmeeting"><i class="lni lni-plus"></i> Meeting</button>
    <button class="btn btn-primary createcall"><i class="lni lni-plus"></i> Call</button>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
</div>