/* MAIN CSS */
.margin-h{
    margin: 50px 0 50px 0;
}
nav{
    background: transparent !important;
}
.loginform, .registerform{
    max-width: 425px;
}
.error{
    color: red;
    font-size: 12px;
    position: absolute;
}
.marginregister{
    padding-top: 10px;
}